body {
	padding: 70px;
}

.navbar-default {
	background: #B22222;
}

.navbar-default .navbar-nav>li> a{
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
}

span {
	color: orange;
}

.jumbotron {
	color: white;
	background: #B22222;
}
